In [124]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [125]:
#KBS into DF
kbs_csv_file = "KBS_SampleGeneric.csv"
kbs_data_df = pd.read_csv(kbs_csv_file)
kbs_data_df.head()

,Case Number,PID,Site Received SN,Closure Code,Failure Mode,Manufacturer,CPN,MPN,Parent Part Number,Parent Serial Number,...,RC Case Number,RC Closure Code,RC Closure Mode,PID Results,Issue Classifications,Failure Signature,FA Site,Date,BU,PF
0,FA-0388047,A9K-RSP880-LT-SE,FOC2302N45E,*Open,NaN,NaN,Unlinked,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Mexico,2018,Iphone,X
1,FA-0388593,A99-8X100GE-CM,FOC2209NZ4D,Fault Isolated,SW Defect,NaN,Unlinked,NaN,NaN,NaN,...,NaN,NaN,NaN,Fault Isolated,NaN,NaN,Mexico,2018,Iphone,X
2,FA-0388896,A9K-24X10GE-SE,FOC1729N7AU,Fault Isolated,Field-Introduced,NaN,Unlinked,NaN,NaN,NaN,...,NaN,NaN,NaN,Fault Isolated,NaN,NaN,Mexico,2018,Iphone,X
3,FA-0389254,ASR-9901,FOC2225NC43,Fault Isolated,Field-Introduced,NaN,Unlinked,NaN,NaN,NaN,...,NaN,NaN,NaN,Fault Isolated,NaN,NaN,Mexico,2018,Iphone,X
4,FA-0389256,ASR-9901,FOC2220PEJC,Fault Isolated,Field-Introduced,NaN,Unlinked,NaN,NaN,NaN,...,NaN,NaN,NaN,Fault Isolated,NaN,NaN,Mexico,2019,Iphone,X

In [126]:
#CQI into DF
cqi_csv_file = "CQI_SampleGeneric.csv"
cqi_data_df = pd.read_csv(cqi_csv_file)
cqi_data_df.head()

,Fiscal Month,RMA Authorization Date,Business Entity,Business Unit,Product Family,GPID - View Field Notices,GPID Description,Product ID,CSC Global Name,Ship To Customer Name,...,Failure Description,Service Order Number,Service Order Failure Code,Failure Class,Failure Subcategory,Authorized Serial Number - View Unit Test/Repair History,Original Business Unit,Original Product Family,FA Case,# HW RMA Units
0,FY2019 M07 Feb,1/27/19,Service Provider Routing,ERBU,ASR9000,GPID - View Field Notices,Description,ID Number,Customer Name,Other Customer Name,...,Description,89538345,Code,Class,Sub Category,NaN,ERBU,ASR9000,Create FA,1
1,FY2019 M07 Feb,1/27/19,Service Provider Routing,ERBU,ASR9000,GPID - View Field Notices,Description,ID Number,Customer Name,Other Customer Name,...,Description,89538111,Code,Class,Sub Category,NaN,ERBU,ASR9000,FA-0385869,1
2,FY2019 M07 Feb,1/27/19,Service Provider Routing,ERBU,ASR9000,GPID - View Field Notices,Description,ID Number,Customer Name,Other Customer Name,...,Description,89538103,Code,Class,Sub Category,NaN,ERBU,ASR9000,Create FA,1
3,FY2019 M07 Feb,1/27/19,Service Provider Routing,ERBU,ASR9000,GPID - View Field Notices,Description,ID Number,Customer Name,Other Customer Name,...,Description,89538093,Code,Class,Sub Category,NaN,ERBU,ASR9000,Create FA,1
4,FY2019 M07 Feb,1/27/19,Service Provider Routing,ERBU,ASR9000,GPID - View Field Notices,Description,ID Number,Customer Name,Other Customer Name,...,Description,89537885,Code,Class,Sub Category,NaN,ERBU,ASR9000,Create FA,1

### Create new data with select columns

In [127]:
#New KBS Data
new_kbs_data_df = kbs_data_df[['FA Site', 'BU', 'PF', 'Closure Code', 'Case Number', 'Date']].copy()
new_kbs_data_df.head()

  FA Site      BU PF    Closure Code Case Number  Date
0  Mexico  Iphone  X           *Open  FA-0388047  2018
1  Mexico  Iphone  X  Fault Isolated  FA-0388593  2018
2  Mexico  Iphone  X  Fault Isolated  FA-0388896  2018
3  Mexico  Iphone  X  Fault Isolated  FA-0389254  2018
4  Mexico  Iphone  X  Fault Isolated  FA-0389256  2019

In [128]:
#Rename CaseNumber Column to FA Case
rename_kbs_data_df = new_kbs_data_df.rename(columns={"Case Number": "FA Case"})
rename_kbs_data_df.head()

  FA Site      BU PF    Closure Code     FA Case  Date
0  Mexico  Iphone  X           *Open  FA-0388047  2018
1  Mexico  Iphone  X  Fault Isolated  FA-0388593  2018
2  Mexico  Iphone  X  Fault Isolated  FA-0388896  2018
3  Mexico  Iphone  X  Fault Isolated  FA-0389254  2018
4  Mexico  Iphone  X  Fault Isolated  FA-0389256  2019

In [129]:
#New CQI Data
new_cqi_data_df = cqi_data_df[['FA Case', 'Service Request Number', 'Service Order Number', 'CSC Global Name']].copy()
new_cqi_data_df.head()

      FA Case Service Request Number  Service Order Number CSC Global Name
0   Create FA              686045462              89538345   Customer Name
1  FA-0385869              686043338              89538111   Customer Name
2   Create FA              685939695              89538103   Customer Name
3   Create FA              686042530              89538093   Customer Name
4   Create FA              686044017              89537885   Customer Name

# Combine Data sets

In [130]:
merge_table = pd.merge(rename_kbs_data_df, new_cqi_data_df, on="FA Case", how="left")
merge_table.head()

,FA Site,BU,PF,Closure Code,FA Case,Date,Service Request Number,Service Order Number,CSC Global Name
0,Mexico,Iphone,X,*Open,FA-0388047,2018,686207311,900152250.0,Customer Name
1,Mexico,Iphone,X,Fault Isolated,FA-0388593,2018,686234528,89609964.0,Customer Name
2,Mexico,Iphone,X,Fault Isolated,FA-0388896,2018,685911747,89598951.0,Customer Name
3,Mexico,Iphone,X,Fault Isolated,FA-0389254,2018,686077442,89578814.0,Customer Name
4,Mexico,Iphone,X,Fault Isolated,FA-0389256,2019,686109771,89607439.0,Customer Name

In [131]:
#Rename so there are no spaces
rename_merge_table =  merge_table.rename(columns={"FA Site": "fa_site", "BU":"bu", "PF": "pf", "Closure Code": "closure_code", "FA Case": "fa_case", "Date":"date_", "Service Request Number": "sr", "Service Order Number": "so", "CSC Global Name": "csc_global_name"})
rename_merge_table

,fa_site,bu,pf,closure_code,fa_case,date_,sr,so,csc_global_name
0,Mexico,Iphone,X,*Open,FA-0388047,2018,686207311,900152250.0,Customer Name
1,Mexico,Iphone,X,Fault Isolated,FA-0388593,2018,686234528,89609964.0,Customer Name
2,Mexico,Iphone,X,Fault Isolated,FA-0388896,2018,685911747,89598951.0,Customer Name
3,Mexico,Iphone,X,Fault Isolated,FA-0389254,2018,686077442,89578814.0,Customer Name
4,Mexico,Iphone,X,Fault Isolated,FA-0389256,2019,686109771,89607439.0,Customer Name
5,Mexico,Iphone,X,*Open,FA-0389299,2019,686266296,89622018.0,Customer Name
6,Mexico,Iphone,X,Unable to Duplicate / Isolate / Insufficient Data,FA-0389309,2019,686241591,89624288.0,Customer Name
7,Mexico,Iphone,X,*Open,FA-0389498,2019,686306760,89631466.0,Customer Name
8,Mexico,Iphone,X,*Open,FA-0389795,2019,686264315,800003740.0,Customer Name
9,Mexico,Iphone,Seven,*Open,FA-0389819,2019,686279905,800004333.0,Customer Name
10,Mexico,Iphone,Seven,Fault Isolated,FA-0389916,2018,686341586,800009151.0,Customer Name
11,Mexico,Iphone,Seven,*Open,FA-0389924,2018,686338460,800013063.0,Customer Name
12,Mexico,Iphone,Seven,Fault Isolated,FA-0390005,2018,686329840,800013508.0,Customer Name
13,TSP,Iphone,Eight,*Open,FA-0390191,2019,686338460,800013474.0,Customer Name
14,TSP,Iphone,Eight,Unable to Duplicate / Isolate / Insufficient Data,FA-0391302,2018,686425548,800037682.0,Customer Name
15,TSP,Iphone,Eight,Unable to Duplicate / Isolate / Insufficient Data,FA-0391302,2018,686425548,800037682.0,Customer Name
16,TSP,Iphone,Eight,Unable to Duplicate / Isolate / Insufficient Data,FA-0391302,2018,686425548,800037682.0,Customer Name
17,TSP,Iphone,Eight,Fault Isolated,FA-0391405,2019,NaN,NaN,NaN
18,TSP,Iphone,Eight,Fault Isolated,FA-0391671,2019,686086250,800058975.0,Customer Name
19,FOC,MacBook,MacBook Air,Fault Isolated,FA-0392267,2019,686532834,800074382.0,Customer Name
20,FOC,MacBook,MacBook Air,Fault Isolated,FA-0392434,2018,686538138,800076525.0,Customer Name
21,FOC,MacBook,MacBook Air,Fault Isolated,FA-0392434,2018,686538138,800076525.0,Customer Name
22,FOC,MacBook,MacBook Air,Fault Isolated,FA-0392434,2018,686538138,800076525.0,Customer Name
23,FOC,MacBook,MacBook Pro,*Open,FA-0393606,2019,686471540,800053149.0,Customer Name
24,FOC,MacBook,MacBook Pro,Fault Isolated,FA-0393675,2019,639544338,800105613.0,Customer Name
25,FOC,MacBook,MacBook Pro,FA Canceled,FA-0394431,2019,686633330,800109107.0,Customer Name
26,FOC,MacBook,MacBook Pro,FA Canceled,FA-0394431,2019,686550665,800109871.0,Customer Name
27,FOC,MacBook,MacBook Pro,*Open,FA-0395564,2019,686476400,800079411.0,Customer Name
28,FOC,MacBook,MacBook Pro,*Open,FA-0396060,2019,686714308,800136568.0,Customer Name

Drop Duplicate Values and Keep the Last

In [132]:
fa_cleaned = rename_merge_table.drop_duplicates(subset="fa_case", keep='last', inplace=False)
fa_cleaned.head()

,fa_site,bu,pf,closure_code,fa_case,date_,sr,so,csc_global_name
0,Mexico,Iphone,X,*Open,FA-0388047,2018,686207311,900152250.0,Customer Name
1,Mexico,Iphone,X,Fault Isolated,FA-0388593,2018,686234528,89609964.0,Customer Name
2,Mexico,Iphone,X,Fault Isolated,FA-0388896,2018,685911747,89598951.0,Customer Name
3,Mexico,Iphone,X,Fault Isolated,FA-0389254,2018,686077442,89578814.0,Customer Name
4,Mexico,Iphone,X,Fault Isolated,FA-0389256,2019,686109771,89607439.0,Customer Name

### Connect to local database

In [133]:
#need to make this in postgres first
rds_connection_string = "postgres:postgres@localhost:5432/FA_Capacity"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [134]:
engine.table_names()

['failure_analysis_cases']

### Use pandas to load csv converted DataFrame into database

In [135]:
fa_cleaned.to_sql(name='failure_analysis_cases', con=engine, if_exists='append', index=False)

#### Use pandas to load json converted DataFrame into database

In [136]:
#new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [137]:
pd.read_sql_query('select * from failure_analysis_cases', con=engine).head()

,fa_site,bu,pf,closure_code,fa_case,date_,sr,so,csc_global_name
0,Mexico,Iphone,X,*Open,FA-0388047,2018,686207311.0,900152250.0,Customer Name
1,Mexico,Iphone,X,Fault Isolated,FA-0388593,2018,686234528.0,89609964.0,Customer Name
2,Mexico,Iphone,X,Fault Isolated,FA-0388896,2018,685911747.0,89598951.0,Customer Name
3,Mexico,Iphone,X,Fault Isolated,FA-0389254,2018,686077442.0,89578814.0,Customer Name
4,Mexico,Iphone,X,Fault Isolated,FA-0389256,2019,686109771.0,89607439.0,Customer Name